body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.splide__slide {
  display: flex;
  align-items: center;
}

a {
  text-decoration: unset;
  color: unset;
}

.appear-enter {
  opacity: 0;
  transform: translateY(-15px);
}
.appear-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 300ms;
}

.appear-exit {
  opacity: 1;
  transform: translateY(0);
}
.appear-exit-active {
  opacity: 0;
  transform: translateY(-15px);
  transition: all 300ms;
}
